.home{
  padding-bottom: 220px;
  position: relative;
}
/*content*/
.content .container{
  display: flex;
  justify-content: space-between;
}
.left-content{
  flex: 1;
}
.today-menu{
  width: 100%;
  height: 328px;
  position: relative;
  background: url("../../assets/images/food_a.jpg") left top no-repeat;
  background-size: 100%;
  box-shadow: 0 0 10px #d7d7d7;
  margin-bottom: 20px;
}
.today-menu .title{
  width: 100%;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  height: 68px;
  line-height: 68px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.backdrop{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.3);
}
.menu-content{
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 88px;
  background-color: #fff;
  padding: 16px 30px;
  z-index: 1;
  &>p{
    line-height: 28px;
    display: flex;
    flex-wrap: wrap;
  }
  .label{
    width: 3em;
  }
  .lunch-wrap{
    flex: 1;
  }
  .link{
    color: #169bd5;
    margin-left: 8px;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  .iconfont{
    color: #fc431e;
    margin-right: 8px;
  }
}
/*本周菜单*/
.week-menu{
  box-shadow: 0 0 10px #d7d7d7;
  background-color: #fff;
  .title{
    width: 100%;
    font-size: 24px;
    font-weight: normal;
    height: 108px;
    line-height: 108px;
    text-align: center;
    position: relative;
    background: url("../../assets/images/bg_c.jpg") left top no-repeat;
    background-size: 100%;
    color: #fff;
  }
  .text{
    position: relative;
    z-index: 1;
  }
  .backdrop{
    background-color: rgba(0,0,0,0.1);
  }
}
.menu-list{
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
  background-size: auto 100%;
  ul{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 30px;
  }
  .menu-item{
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(#ee87a2, #9f99be, #7ba6c6, #71cd84) 30 30;
    width: 45%;
    padding: 25px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 4%;
  }
}
.menu-header{
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.menu-list .menu-item:nth-of-type(2n){
  margin-right: 0;
}
.menu-list .menu-item>p{
  display: flex;
  line-height: 28px;
}
.menu-list {
  .label{
    display: inline-block;
    width: 3em;
  }
  .food{
    white-space: pre-wrap;
    flex: 1;
  }
}
.menu-list .menu-item .iconfont{
  color: #fc431e;
  margin-right: 8px;
}
.store-name{
  margin-left: -14px;
}
.star-area{
  position: relative;
  padding-bottom: 15px;
  .error-tip{
    color: #e0060c;
    font-size: 12px;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
  }
}
.score-list{
  li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .food{
    display: inline-block;
    width: 65%;
  }
}
.btn-group{
  margin-top: 65px;
  display: flex;
  justify-content: center;
  .btn{
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    color: #169bd5;
    background-color: #fff;
    width: 76px;
  }
}
form{
  border-top: 1px solid #ddd;
  padding-top: 30px;
  margin-top: 15px;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 1000px;
  height: 102px;
  background: url("../../assets/images/footer-bg.png") no-repeat left top;
}

